@charset "gb2312";
/* CSS Document */

/**************************Grid***********************************************/
.tablegrid {
    border-top: 1px solid #a3cdf3;
    border-right: 1px solid #fff;
    border-bottom: 1px #a3cdf3;
    border-left: 1px solid #a3cdf3;
}

.tableHeader {
    height: 29px;
    font-size: 12px;
    text-align: center;
    font-weight: bold;

    border-right: 1px solid white;
    border-bottom: 1px solid #f1f1f1;
    background-color: #f1f1f1;
}

.tablecontent {
    font-size: 12px;

    height: 30px;
    text-align: center;

}

.tablecontent input {
    color: #DACEC0;
}

    .tablecontent a {
        color: Black;
        text-decoration: none;
    }

.zt {
    border: 1px solid #E2EEFE;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

.zttitle {
    height: 34px;

    font-size: 13px;

    background-image: url(img/ztitle.gif);
}



    .zttitle span {
        height: 33px;
        line-height: 30px;
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
    }


.resizeDragClass {
    text-align: right;
    width: 3%;
    margin: 0px 0 0px 0;
    line-height: 25px;
    border: 0px;
    float: right;
    cursor: e-resize;
    z-index: 99999999;
    background-color: inherit;
}




.tableCls {
    table-layout: fixed;
}

    .tableCls td {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }




.tabletr {
    background-color: #f1f1f1;
}

.tablehover {
    background-color:#FCFCE2;
}

/**************************Property***********************************************/

.property {
    border: #99bbe8 1px solid;
}

.propertytd {
    border-bottom: #ccc 1px dotted;
    border-right: #ccc 1px dotted;
    width: 50%;
    text-align: left;
    font-size: 12px;
    letter-spacing: 2px;
    padding-left: 5px;
    height: 23px;
}

.propertytitle {
    background-color: #EFEFEF;
    text-align: left;
    color: blue;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
}

.propertytable {
    width: 100%;
    border-top: #ccc 1px dotted;
    border-left: #ccc 1px dotted;
}

.expand {
    background-image: url(images/expand.gif);
    background-repeat: no-repeat;
    background-position: center;
   
    width:10px;

}

.collapse {
    background-image: url(images/collapse.gif);
    background-repeat: no-repeat;
    background-position: center;
    
    width:10px;
}
