<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="domainConfiguration" type="Yawei.Domain.Domain.Configuration.DomainConfiguration,Yawei.Domain.Domain"/>
  </configSections>
  <domainConfiguration defaultDomain ="Name">
    <add name="Name" domainName="DomainName" username="Username" password="Password" authenticationType="AuthenticationType" />
  </domainConfiguration>
  
</configuration>