
/* CSS Document */
*{  
    margin:0;
	padding:0;
	
	}
body
  {
    width:100%;
    margin:0 auto;
	font-size:12px;
    font-family: "Microsoft YaHei";
	background-color:#FFFFFF;
       
  }

img 
{
border:0px;
}
li
{
list-style:none;
}
/*外围开始 */
.wrapper
{
}
/*头部开始 */
.header
{
width:100%;
background:url(../images/shared/bj-1.jpg) repeat-x;
height:47px;

}
.header-left
{
float:left;
width:352px;
height:47px;
}
.header-right
{
float:right;
}
.header-right-user
{
background:url(../images/shared/bj-2.gif);
width:124px;
height:47px;
float:left;
}
.header-right-user span
{
color:#FFFFFF;
padding-top:15px;
margin-left:50px;
display:block;
}
.header-right-exit
{
float:left;
}
/*nav开始 */
.nav
{

background:url(../images/shared/bj-3.jpg);
height:74px;
width:100%;
}
.nav-left
{
float:left;
}
.nav-left-t
{
float:left;
margin-left:12px;
margin-top:8px;
margin-right:12px;
}
.nav-left-m
{
float:left;
}
.nav-left-g
{
float:left;
background:url(../images/shared/bj-4.jpg);
width:2px;
height:70px;
margin-left:29px;
}
.nav-left-m-1
{
font-size:16px;
font-family:"微软雅黑";
color:#000000;
margin-top:8px;
margin-bottom:12px;
}
.nav-left-m-2
{
}
.nav-left-m-2 span
{
color:#FF0000;
padding-left:4px;
}
.nav-right
{
float:left;
}
.nav-right-d
{
float:left;
}
.nav-right-1
{
float:left;
margin-top:3px;
margin-left:10px;
margin-right:15px;
background:url(../images/shared/img-36.png);
width:85px;
height:67px;
cursor:pointer;
}
.nav-right-1-top
{
width:85px;
text-align:center;
margin-top:5px;
}
.nav-right-1-size
{
font-size:16px;
font-family:"微软雅黑";
color:#2772ac;
width:85px;
text-align:center;
margin-top:1px;
}
.nav-right-2
{
float:left;
margin-top:3px;
margin-left:10px;
margin-right:15px;
width:85px;
height:67px;
cursor:pointer;
}
.nav-right-2-top
{
width:85px;
text-align:center;
margin-top:5px;
}
.nav-right-2-size
{
font-size:16px;
font-family:"微软雅黑";
color:#2772ac;
width:85px;
text-align:center;
margin-top:1px;
}






.content
{
    width:100%;
    display:table;
    height:548px;
}
/*左导航开始 */
.leftsidebar
{
display:table-cell;
width:192px;
border-right:1px solid #cccccc;
border-bottom:1px solid #cccccc;
height:100%;
background-color:#f2f2f2;
}
.leftsidebar-top
{
width:192px;

border-bottom:1px solid #cccccc;
}
.leftsidebar-top-1
{
float:left;
}
.leftsidebar-top-2
{
float:left;
margin-top:3px;
margin-left:5px;
}
.leftsidebar-top-3
{
float:left;
margin-top:3px;
margin-left:5px;
}
.leftsidebar-top-4
{
float:left;
margin-top:3px;
margin-left:5px;
}
.leftsidebar-bottom
{

}

.leftsidebar-content
{
width:100%;
height:39px;
border-bottom:1px solid #cccccc;
}
.leftsidebar-content-img
{
float:left;
margin-top:9px;
padding-left:15px;
width:40px;
}
.leftsidebar-content-size
{
float:left;
width:105px;
font-size:14px;
font-family: "微软雅黑";
color:#393838;
margin-top:9px;
}
    .leftsidebar-content-size a {
        font-size:inherit;
        font-family:inherit;
        color:inherit;
        text-decoration:none;
    }
.leftsidebar-content-d
{
float:left;
margin-top:13px;
width:8px;
height:11px;
}
.leftsidebar-content1
{
width:192px;
height:39px;
border-bottom:1px solid #cccccc;
background-color:#FFFFFF;
}
.leftsidebar-content-img1
{
float:left;
margin-top:9px;
padding-left:15px;
width:40px;
}
.leftsidebar-content-size1
{
float:left;
width:105px;
font-size:14px;
font-family: "微软雅黑";
color:#2977b3;
margin-top:9px;
}
.leftsidebar-content-d1
{
float:left;
margin-top:13px;
width:8px;
height:11px;
}
.leftsidebar-content2
{
width:192px;
height:39px;
border-bottom:1px solid #cccccc;
background-color:#FFFFFF;

}
.leftsidebar-content-img2
{
float:left;
margin-top:12px;
padding-left:35px;
width:20px;
}
.leftsidebar-content-size2
{
float:left;
width:85px;
font-size:14px;
font-family: "微软雅黑";
color:#393838;
margin-top:12px;
}
    .leftsidebar-content-size2 a {
        font-size:inherit;
        font-family:inherit;
        color:inherit;
        text-decoration:none;
    }

.leftsidebar-content-size3
{
float:left;
width:85px;
font-size:14px;
font-family: "微软雅黑";
color:#2977b3;
margin-top:9px;
}
/*右边主体开始*/
.right-content
{

width:auto;
display:table-cell;
}
.right-content-local
{
border-bottom:1px solid #cccccc;
height:40px;
width:100%;
background-color:#f9f9f9;
}
.right-content-local-ico
{
float:left;
margin-top:12px;
margin-left:17px;
margin-right:12px;
}
.right-content-local-s
{
float:left;
color:#407db2;
font-size:14px;
margin-top:10px;
margin-right:6px;
}
.right-content-local-s span
{
color:#5c5b5b;
font-size:14px;
}
.right-content-bottom
{
padding:8px;
}
.right-content-search
{
height:23px;
}
.right-content-search-left
{
float:left;
margin:5px;
}
.right-content-search-s
{
font-size:14px;
font-family:"微软雅黑";
color:#2977b3;
font-weight:bold;
}
.right-content-o
{
width:100%;
height:49px;
background-color:#eff3f8;
border:1px solid #eaeaea;
margin-top:5px;
}
.right-content-loginname
{
float:left;
font-size:14px;
font-family:"微软雅黑";
margin-top:13px;
padding-left:16px;
color:#505153;
}
.right-content-k
{
float:left;
margin-top:11px;
padding-left:14px;
padding-right:10px;
}
.right-content-button
{
float:left;
margin-top:12px;
padding-left:10px;
}
.right-content-table
{
    height:650px;
border-left:1px solid #e9e9e9;
border-top:1px solid #e9e9e9;
margin-top:10px;
width:100%;

}
.right-content-table-t
{
background-color:#6fb3e0;
color:#ffffff;
height:30px;
text-align:center;
border-right:1px solid #e9e9e9;
}
.right-content-table-t1
{
color:#55558a;
height:30px;
text-align:center;
border-right:1px solid #e9e9e9;
border-bottom:1px solid #e9e9e9;
}
.right-content-table-bottom
{
width:100%;
background-color:#eff3f8;
border-left:1px solid #e9e9e9;
border-right:1px solid #e9e9e9;
border-bottom:1px solid #e9e9e9;
height:57px;
}
.right-content-table-bottom-1
{
float:left;
color:#2671ae;
font-size:14px;
padding-left:17px;
margin-top:18px;
}
.right-content-table-bottom-2
{
float:left;
margin-left:17px;
margin-top:19px;
}
.right-content-table-bottom-right
{
float:right;
margin-top:18px;nav-right-1
margin-right:10px;
}
.right-content-table-bottom-right-s
{
float:left;
margin-right:10px;
margin-top:4px;
}
.right-content-table-bottom-right-s span
{
color:#2671ae;
margin-left:3px;
margin-right:3px;
}
.right-content-table-bottom-right-d
{
float:left;
margin-right:10px;
margin-top:4px;
}



/*页面1主要审批手续 */
.column-1
{

}
.column-1-title
{
width:100%;
height:35px;
background-color:#eff3f8;
border:1px solid #e9e9e9;
}
.column-1-title-ico
{
float:left;
margin-top:8px;
margin-left:10px;
}
.column-1-title-size
{
float:left;
color:#2772ac;
font-size:16px;
font-family:"微软雅黑";
margin-top:6px;
margin-left:10px;
}

/*页面1主要审批手续 */
.column-1-content
{
width:100%;
margin:9px 0px 0px 0px;
height:auto;
}
.column-1-content-block1
{
float:left;
border:1px solid #d3dbde;
background-color:#f3f7f8;
border-radius:4px;
padding:6px 10px 5px 6px;
margin-right:7px;
margin-bottom:9px;
position:relative;
cursor:pointer;
}
.column-1-content-block1-ico
{
float:left;
}
.column-1-content-block1-size
{
float:left;
color:#000000;
font-size:12px;
padding-top:3px;
padding-left:7px;
}
.column-1-content-block2
{
float:left;
border:1px solid #93a5ad;
background-color:#e6ebf0;
border-radius:4px;
margin-right:7px;
padding:6px 10px 5px 5px;
position:relative;
cursor:pointer;
}
.column-1-content-block2-ico
{
float:left;
}
.column-1-content-block2-size
{
float:left;
color:#2977b3;
font-weight:bold;
font-size:12px;
padding-top:3px;
padding-left:7px;
}

/*页面1其他审批手续 */
.column-2
{
display:block;
width:100%;
}
.column-2-title
{
float:left;
width:100%;
height:35px;
background-color:#eff3f8;
border:1px solid #e9e9e9;
}
.column-2-title-ico
{
float:left;
margin-top:8px;
margin-left:10px;
}
.column-2-title-size
{
float:left;
color:#2772ac;
font-size:16px;
font-family:"微软雅黑";
margin-top:6px;
margin-left:10px;
}


.column-2-content
{
width:100%;
margin:18px 0px 10px 0px;

}

.column-2-content-1
{
display:table;
width:100%;
}


.column-2-content-1-x
{
display:table-cell;
width:auto;
padding-left:20px;
}
.column-2-content-1-c
{
display:table-cell;

width:97%;
border-bottom:1px dashed #8d8e93;
padding-bottom:5px;
}
.column-2-content-1-c-t
{
display:block;
height:25px;
width:100%;
}
.column-2-content-1-c-t-ico
{
float:left;
margin:0px 8px 0px 10px;
}
.column-2-content-1-c-t-size
{
float:left;
font-size:16px;
font-family:"微软雅黑";
color:#ff9900;
font-weight:600;
}

.column-2-content-1-c-c
{
display:block;
height:25px;
}

.column-2-content-1-c-c-b
{
float:left;
margin-right:18px;
}
.column-2-content-1-c-c-b1
{
float:left;
margin-left:12px;
margin-right:4px;
margin-top:12px;

}
.column-2-content-1-c-c-b2
{
float:left;
margin-top:9px;
font-size:14px;
color:#656666;
font-weight:bold;
}
.column-2-content-1-c-b
{
display:block;
width:100%;
height:1px;

margin-top:18px;
margin-left:10px;
}




*页面3 */








.column-3-content
{
width:1052px;
margin:10px 0px 10px 0px;
float:left;
}
.column-3-content-1
{
float:left;
width:204px;
height:85px;
border:1px solid #dadada;
}
.column-3-content-1-title
{
background:url(../images/bj-5.gif);
height:26px;
border-bottom:1px solid #dadada;
}
.column-3-content-1-title-left
{
float:left;
}
.column-3-content-1-title-center
{
float:left;
color:#2977b3;
font-weight:bold;
font-size:14px;
margin-left:10px;
margin-top:3px;
}
.column-3-content-1-title-right
{
float:right;
margin-top:4px;
margin-right:8px;
}
.column-3-content-1-content
{
margin:10px;
}
.column-3-content-1-content-1
{
float:left;
margin-top:5px;
}
.column-3-content-1-content-2
{
float:left;
margin-left:9px;
margin-top:5px;
}





















.column-4-content
{
width:100%;
margin:10px 0px 10px 0px;
float:left;
background-color:#fcfcfc;
}
.column-4-content-1
{
float:left;
width:240px;
height:121px;
border-radius:4px;
border:1px solid #dadada;
margin:10px;
}
.column-4-content-1-title
{
background-color:#fcfcfc;
height:33px;
border-bottom:1px solid #dadada;
}
.column-4-content-1-title-left
{
float:left;
margin-left:10px;
margin-top:8px;
}
.column-4-content-1-title-center
{
float:left;
color:#2977b3;
font-weight:bold;
font-size:14px;
margin-left:10px;
margin-top:8px;
}

.column-4-content-1-content
{
margin:10px;
}

.column-4-content-1-content-1
{

}
.column-4-content-1-content-1-left
{
float:left;
font-size:16px;
font-family:"微软雅黑";
color:#5d81ca;
margin-left:23px;
}
.column-4-content-1-content-1-right
{
float:left;
font-size:16px;
font-family:"微软雅黑";
color:#858585;
margin-left:33px;
}
.column-4-content-1-content-2
{
float:left;
margin-top:10px;
margin-left:8px;

}



.column-4-content-1-content-3
{

}
.column-4-content-1-content-3-left
{
float:left;
font-size:12px;
font-family:"微软雅黑";
color:#5d81ca;
margin-left:23px;
}
.column-4-content-1-content-3-right
{
float:left;
font-size:12px;
font-family:"微软雅黑";
color:#858585;
margin-left:33px;
}
.column-4-content-1-content-3-right2
{
float:left;
font-size:12px;
font-family:"微软雅黑";
color:#5d81ca;
margin-left:33px;
}
.buttonClass {
    padding: 5px 20px 5px 20px;
    border: solid 1px #a0edc3;
    cursor: pointer;
    background-color: #6fb3e0;
    color: white !important;
    border-radius:5px;
}
.buttonClass:hover{
    background-color:#de6d00;
     border: solid 1px #6fb3e0;
}